doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title REBO
  link(href='https://fonts.googleapis.com/css?family=Open+Sans&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='/css/style.css')
  script(src='/img/icon/fontawesome.min.js') 
  link(rel='stylesheet', href='/Alert/sweetalert2.min.css')
  style.
    body {
    background-color: rgb(241, 241, 241);
    }
    .account {
    background-color: white;
    position: relative;
    margin: 7em auto;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    }
    .account > .avatar {
    position: relative;
    top: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
    margin: 20px auto;
    }
    p {
    text-align: center;
    margin-bottom: 10px;
    }
    .center {
    color: gray;
    display: flex;
    justify-content: center;
    }
    .account-setting {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 25px;
    text-align: end;
    }
    .nav {
    position: absolute;
    top: 35px;
    right: 10px;
    width: auto;
    height: 70px;
    display: none;
    border: 1px solid gray;
    background-color: white;
    }
    .account-setting:hover ~ .nav {
    display: block;
    }
    .nav:hover {
    display: block;
    }
    .account-setting > i {
    font-size: 20px;
    color: rgb(0, 0, 0);
    }
    .account-setting > i:hover {
    color: rgb(0, 0, 0);
    }
    .fas {
    line-height: 25px;
    }
    li {
    padding: 5px;
    }
    li:hover {
    background-color: gray;
    }
    .nav > li,
    label {
    cursor: pointer;
    }
    .nav > label {
    min-width: 211px;
    height: 100%;
    }
    ul {
    list-style: none;
    margin-top: 5px;
    }
    .nav,
    ul {
    border-radius: 10px;
    }
    .bgr_overlay1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadein linear 0.1s;
    }
    .check-edit:checked ~ .bgr_overlay {
    display: block;
    }
    .check-change:checked ~ .bgr_overlay1 {
    display: block;
    }
    .selected-edit-account,
    .selected-change-account {
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    }
    .selected-edit-account,.selected-change-account {
    width: 600px;
    height: 500px;
    }
    .check-edit:checked ~ .selected-edit-account {
    display: block;
    }
    .check-change:checked ~ .selected-change-account {
    display: block;
    }
    .selected-edit-account--header {
    display: flex;
    }
    .ava {
    width: 60px;
    height: 60px;
    background-color: aqua;
    border-radius: 100%;
    }
    .line1 {
    display: flex;
    }
    .selected-edit-account--form
     {
    width: inherit;
    height: 420px;
    }
    .form-edit {
    margin: 10px;
    width: 60%;
    height: auto;
    }
    .input > label {
    font-weight: bolder;
    }
    .input {
    border: none;
    }
    .txt {
    padding: 10px;
    border: none;
    background-color: #cccccc;
    border-radius: 10px;
    }
    .txt:hover {
    background-color: #ffffff;
    border: 3px solid rgba(255, 0, 0, 0.349);
    }
    .btn {
    margin: 0;
    border-radius: 10px;
    width: 20%;
    position: absolute;
    right: 10px;
    }
    .save {
    margin-top: 30px;
    left: 30px;
    }
section.bar
  img.logo(src='/img/menu.png')
  a.REBO(href="/Overview")
    img(src='/img/REBO.png', alt='REBO')
  .bar-user
    .bar-user_icon
      i.fas.fa-search
      i.fas.fa-bell
    .vertical_line
    .bar-user_info
      .bar-user_info--name
        p=item.fullname
        p student
      .bar-user_info--avatar
section.account
  .avatar
  div
    p(style='font-size: 1.5em;font-weight: bolder;')=item.fullname
    p(style='color: gray;') Student
    .center
      p VKU
      p ,Đà Nẵng      
  .account-setting
    i.fas.fa-cog
    i.fas.fa-caret-down
  .nav
    ul
      label(for='edit')
        li(style='border-bottom: 1px solid gray;')
          | Ch&#x1EC9;nh s&#x1EED;a th&ocirc;ng tin c&aacute; nh&acirc;n
      label(for='change')
        li
          | &Dstrok;&#x1ED5;i m&#x1EAD;t kh&#x1EA9;u
// 
input#edit.check-edit(type='checkbox', name='', hidden='')
label.bgr_overlay(for='edit')
section.selected-edit-account
  label(for='edit')
    .close
      i.fas.fa-times-circle
  .selected-edit-account--header(style='margin: 10px;')
    .ava
    div(style='margin-top: 7px;')
      .line1
        h1(style='color: rgb(0, 132, 255);margin: 0 10px;')=item.fullname
        h1 / Account Setting
      .line2
        p(style='color: #878787;text-align: start;margin: 0 10px;')
          | C&#x1EAD;p nh&#x1EAD;p v&agrave; qu&#x1EA3;n l&iacute; th&ocirc;ng tin c&aacute; nh&acirc;n
  .selected-edit-account--form
    .form-edit
      form(action='Update_Account', style='margin-left: 20px;', method="POST")
        .input
          label(for='Fullname') Fullname
          input#Fullname.txt(name='FULLNAME', type='text', value=item.fullname)
        .input
          label(for='Email') Email
          input#Email.txt(name='EMAIL', type='text', value=item.email)
          .horizontal_line
        div(style='display: flex;')
          div
            h1 Xo&aacute; t&agrave;i kho&#x1EA3;n
            p(style='font-weight: bold;text-align: start;')
              | Xo&aacute; t&agrave;i kho&#x1EA3;n c&#x1EE7;a b&#x1EA1;n v&agrave; d&#x1EEF; li&#x1EC7;u t&agrave;i kho&#x1EA3;n
          label.btn(for="delete" style="text-align: center;line-height:50px") Xoá
        input.btn.save(type='submit', value='Save Changes')
      form(action="/Delete_Account")
        input#delete(type='submit', value='Xoá' hidden="")
input#change.check-change(type='checkbox', name='', hidden='')
label.bgr_overlay1(for='change')
section.selected-change-account
  label(for='change')
    .close
      i.fas.fa-times-circle
  .selected-edit-account--header(style='margin: 10px;')
    .ava
    div(style='margin-top: 7px;')
      .line1
        h1(style='color: rgb(0, 132, 255);margin: 0 10px;')
          | Tr&#x1EA7;n Anh Qu&acirc;n
        h1 / Account Setting
      .line2
        p(style='color: #878787;text-align: start;margin: 0 10px;')
          | Đổi mật khẩu
  .selected-edit-account--form
    .form-edit
      form(id="CHANGE",action='/Changes_Pass', style='margin-left: 20px;',method="POST")
        .input
          label(for='Pass-old') Mật Khẩu đang dùng
          input#Pass-old.txt(name='OLD', type='password', placeholder="Mật khẩu đang dùng")
        .input
          label(for='Pass-new') Mật khẩu mới
          input#Pass-new.txt(name='NEW', type='password', placeholder="Mật khẩu mới")
        .input
          label(for='Pass-new-confirm') Nhập lại mật khẩu
          input#Pass-new-confirm.txt(name='NEWCONFIRM', type='password', placeholder="Nhập lại mật khẩu")
          .horizontal_line
        div(style='display: flex;')
        input.btn.save(type='submit', value='Save Changes')
        script(src="/Alert/sweetalert2.min.js")
        script(type="text/javascript").
          //- function sweet(){
          //- var passold = document.getElementById('Pass-old').value;
          //- var passnew = document.getElementById('Pass-new').value;
          //- var newconfirm = document.getElementById('Pass-new-confirm').value;
          //- if(passold && passnew && newconfirm){
          //-   document.getElementById("IDD").addEventListener("submit", function(event){
          //-       event.stopImmediatePropagation();
          //-     });
          //- }
          //- else{
          //-     Swal.fire({
          //-       icon: 'error',
          //-       title: 'Oops...',
          //-       text: 'Error!!!',
          //-       footer: ['<a href>Why do I have this issue?</a>'],
          //-     })
          //-   }
          //-   event.preventDefault();
          //- }
          document.getElementById("CHANGE").addEventListener("submit", function sweet(event){
                var passold = document.getElementById('Pass-old').value;
                var passnew = document.getElementById('Pass-new').value;
                var newconfirm = document.getElementById('Pass-new-confirm').value;
                if(passold && passnew && newconfirm){
                  if(passnew===newconfirm){}
                  else{
                    Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      showConfirmButton:false,
                      text: 'Newconfirm Incorect',
                      footer: '<a href>Why do I have this issue?</a>',
                    }),
                    setTimeout(function() {
                    location.reload();
                  }, 2000);
                  }
                }
                else{
                    Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      showConfirmButton:false,
                      text: 'Please enter Pass',
                      footer: '<a href>Why do I have this issue?</a>',
                    }),
                    setTimeout(function() {
                    location.reload();
                  }, 2000);
                  }
              });
